module.exports = {

    // IRC config
    irc: {

        // IRC server
        server: "irc.freenode.net",

        // Bot nickname to attempt to use
        nick: "applaitbot",

        // IRC port
        port: 6697,

        // Bot nickname registered on IRC
        userName: "applaitbot",

        // Bot real name
        realName: "Applait Bot",

        // Bot account password on IRC
        password: "",

        // Channels to join
        channels: ["#applait"],

        // SSL connection enable/disable
        secure: true,

        // Allow self-signed cert
        selfSigned: true,

        // Allow expired cert
        certExpired: false

    }
};
