module.exports = {

    // IRC config
    irc: {

        // IRC server
        server: "chat.freenode.net",

        // IRC port
        port: "6697",

        // Bot nickname registered on IRC
        userName: "applaitbot",

        // Bot real name
        realName: "Applait Bot",

        // Bot account password on IRC
        password: "",

        // Channels to join
        channels: ["#applait"],

        // Auto rejoin
        autoRejoin: true,

        // Auto connect
        autoConnect: true,

        // SSL connection enable/disable
        secure: false,

        // Allow self-signed cert
        selfSigned: true,

        // Allow expired cert
        certExpired: false

    }
};
